* {
    box-sizing: border-box;
}

/* Classes génériques */
/* ================== */

.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex-action {
    justify-content: flex-end;    
    margin-right: 0;    
}
.block {
    display: flex;
    justify-content: flex-end;
}
.borders {
    border: 1px solid #00cfff ;
    border-radius: .25em;
    padding: .5em;
}

.button {
    border: 1px solid #003f7f ;
    background-color: #007fff;
    color:white;
    border-radius: .25em;
    padding: .5em;
    text-align: center;
    text-decoration: none;
    min-width: 39px;
}
.button:hover {
    background-color: #7fcfff;
    color:#303030;
    text-decoration: none;
}

/* Mise en page générale */
/* ===================== */

body{
    max-width: 1200px;
    margin: auto;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 63, 127, 0), rgba(0, 63, 127, 0.8), rgba(0, 63, 127, 0));
}

table {
    margin: 2em auto;
    border-collapse: collapse;
}

table th {
    background-color: #7fcfff;
}
table th,tr,td {
    border: 1px solid #003f7f;
    padding: .5em;
}
table td.nb-left {
    border-left: 0;
}
table td.nb-right {
    border-right: 0;
}
table td.nb-top {
    border-top: 0;
}
table td.nb-bottom {
    border-bottom: 0;
}

/* Mise en page en-tête */
/************************/

header {
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1rem 0;
}

#logo {
    display: flex ;
    justify-content: flex-start;
    align-items: center;
}
#logo h1 {
    margin: auto;
    padding-left: 2rem;
}
#logo img {
    max-width: 96px;
    max-height: 96px;
}
#menu {
    flex: 1;
    display: flex ;
    justify-content: flex-end;
    align-items: center;
}
#menu a{
    margin-left: 2rem;
}
