{# Vue associée au formulaire de création / modification d'un stagiaire (=> ses informations personnelles) #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="center">{{title}} un stagiaire</h1>

    {{ form(form) }}
{% endblock %}
