{# Vue associée à l'entité "Programme", non utilisée #}

{% extends 'base.html.twig' %}

{% block body %}
    <p class="center"><img src="{{asset('img/formation.png')}}" alt="Session de formation (à programmer)"></p>
{% endblock %}
